<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="card border-0 shadow-lg p-3 mb-5 bg-body rounded">
        <div class="row justify-content-center">
          <div class="col-lg mx-auto">
            <p id="judul">Sign In</p>
            <div class="card-body mt-5 mb-3">
              <form>
                <div class="mb-4">
                  <input type="text" class="form-content" placeholder="Username" />
                  <hr class="mt-0 m-3" />
                </div>
                <div class="mb-4">
                  <input type="password" class="form-content" placeholder="Password" />
                  <hr class="mt-0 m-3" />
                </div>
                <div class="col-sm-10 col-md-10 col-10 mx-auto mx-md-auto mx-sm-auto">
                  <button type="submit" class="btn btn-primary">Login</button>
                  <p><b>Sudah punya akun?</b><a href="/register"> daftar</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
