<div class="container">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-sm-4 mx-auto">
            <form>
              <p id="judul">Sign Up</p>
              <div class="mb-4">
                <input type="text" class="form-content" placeholder="Nama" />
                <hr class="mt-0 m-3" />
              </div>
              <div class="mb-4">
                <input type="text" class="form-content" placeholder="Username" />
                <hr class="mt-0 m-3" />
              </div>
              <div class="mb-4">
                <input type="email" class="form-content" placeholder="Email" />
                <hr class="mt-0 m-3" />
              </div>
              <div class="mb-4">
                <input type="password" class="form-content" placeholder="Password" />
                <hr class="mt-0 m-3" />
              </div>
              <div class="col-sm-11 col-md-11 col-11 mx-auto">
                <button type="submit" class="btn btn-primary">Daftar</button>
                <p>Sudah punya akun?<a href="/login"> login</a></p>
              </div>
            </form>
          </div>
          <div class="col-sm-7 col-md-7 col-12 mx-auto me-0">
            <img src="img/signup.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
