<!-- Index -->
<div class="container-fluid" id="satu">
  <div class="row" style="padding-left: 2rem">
    <div class="col-sm-6">
      <div class="container">
        <div id="p">
          <p style="color: #007ccd; font-size: 60px; font-family: raleway">
            Mari <br />Baca Buku!
          </p>
          <br />Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Adipisci asperiores aliquid veniam doloremque praesentium ea vitae
          magni! Architecto excepturi quaerat aspernatur eius ad. Incidunt,
          aperiam rem dolorum fugiat corrupti pariatur.
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Akhir Index -->
<!-- Recent -->
<section id="recent">
  <div class="container-fluid" id="dua">
    <h2>Recent Book Today!</h2>
    <div class="container">
      <div class="row" id="recbook">
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
      </div>
      <div class="row" id="recbook">
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Akhir Recent -->
<!-- Book -->
<section id="book">
  <div class="container-fluid" id="tiga">
    <div class="container">
      <div class="col-12">
        <h4 id="anime">Anime</h4>
      </div>
      <div class="row">
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="book2">
  <div class="container-fluid" id="empat">
    <div class="container">
      <div class="col-12">
        <h4>Fantasi</h4>
      </div>
      <div class="row">
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="book3">
  <div class="container-fluid" id="lima">
    <div class="container">
      <div class="col-12">
        <h4>Drama</h4>
      </div>
      <div class="row">
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="book4">
  <div class="container-fluid mt-4" id="enam">
    <div class="container">
      <div class="col-12">
        <h4>Fiksi</h4>
      </div>
      <div class="row">
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
          <a href="" class="component-book d-block">
            <div class="book-thumbnail">
              <div class="book-image">
                <img src="/img/Rectangle3.png" alt="" />
              </div>
            </div>
            <div class="book-text">lorem ipsum pakyu</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Akhir Book -->
