<!-- index -->
<div class="container-fluid" id="pengarang">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <a href="/profile">
            <div class="usPengarang">
                <div class="row ms-auto">
                    <div class="col-2">
                        <i class='bx bx-user-circle userPengarang'></i>
                    </div>
                    <div class="col-8 mt-1 ml-3">
                        <h6>Nama Pengarang</br>Genre</h6>
                    </div>
                </div>
            </div></a>
            </div>
            <div class="col-sm-4">
            <a href="/profile">
            <div class="usPengarang">
                <div class="row">
                    <div class="col-2">
                        <i class='bx bx-user-circle userPengarang'></i>
                    </div>
                    <div class="col-8 mt-1 ml-3">
                        <h6>Nama Pengarang</br>Genre</h6>
                    </div>
                </div>
            </div></a>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <a href="/profile">
            <div class="usPengarang">
                <div class="row ms-auto">
                    <div class="col-2">
                        <i class='bx bx-user-circle userPengarang'></i>
                    </div>
                    <div class="col-8 mt-1 ml-3">
                        <h6>Nama Pengarang</br>Genre</h6>
                    </div>
                </div>
            </div></a>
            </div>
            <div class="col-sm-4">
            <a href="/profile">
            <div class="usPengarang">
                <div class="row">
                    <div class="col-2">
                        <i class='bx bx-user-circle userPengarang'></i>
                    </div>
                    <div class="col-8 mt-1 ml-3">
                        <h6>Nama Pengarang</br>Genre</h6>
                    </div>
                </div>
            </div></a>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <a href="/profile">
            <div class="usPengarang">
                <div class="row ms-auto">
                    <div class="col-2">
                        <i class='bx bx-user-circle userPengarang'></i>
                    </div>
                    <div class="col-8 mt-1 ml-3">
                        <h6>Nama Pengarang</br>Genre</h6>
                    </div>
                </div>
            </div></a>
            </div>
            <div class="col-sm-4">
            <a href="/profile">
            <div class="usPengarang">
                <div class="row">
                    <div class="col-2">
                        <i class='bx bx-user-circle userPengarang'></i>
                    </div>
                    <div class="col-8 mt-1 ml-3">
                        <h6>Nama Pengarang</br>Genre</h6>
                    </div>
                </div>
            </div></a>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <a href="/profile">
            <div class="usPengarang">
                <div class="row ms-auto">
                    <div class="col-2">
                        <i class='bx bx-user-circle userPengarang'></i>
                    </div>
                    <div class="col-8 mt-1 ml-3">
                        <h6>Nama Pengarang</br>Genre</h6>
                    </div>
                </div>
            </div></a>
            </div>
            <div class="col-sm-4">
            <a href="/profile">
            <div class="usPengarang">
                <div class="row">
                    <div class="col-2">
                        <i class='bx bx-user-circle userPengarang'></i>
                    </div>
                    <div class="col-8 mt-1 ml-3">
                        <h6>Nama Pengarang</br>Genre</h6>
                    </div>
                </div>
            </div></a>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <a href="/profile">
            <div class="usPengarang">
                <div class="row ms-auto">
                    <div class="col-2">
                        <i class='bx bx-user-circle userPengarang'></i>
                    </div>
                    <div class="col-8 mt-1 ml-3">
                        <h6>Nama Pengarang</br>Genre</h6>
                    </div>
                </div>
            </div></a>
            </div>
            <div class="col-sm-4">
            <a href="/profile">
            <div class="usPengarang">
                <div class="row">
                    <div class="col-2">
                        <i class='bx bx-user-circle userPengarang'></i>
                    </div>
                    <div class="col-8 mt-1 ml-3">
                        <h6>Nama Pengarang</br>Genre</h6>
                    </div>
                </div>
            </div></a>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
    <!-- akhir index -->