<div class="container-fluid" id="satu">
  <div class="container">
    <div class="row">
      <div class="col-5" style="margin-bottom: 2.8rem">
        <a href=""><- kembali</a>
      </div>
      <div class="col-12">
        <b><p style="color: #007ccd; margin-bottom: -14px; font-size: 48px; text-align: center">Profile</p></b>
        <hr style="width: 200px; margin: 0 auto; color: #007ccd" />
        <div class="row mt-5">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="mb-3">
              <label for="" class="form-label">Fullname</label>
              <input type="text" class="form-content" placeholder="Fullname" />
              <hr class="mt-0" />
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Username</label>
              <input type="text" class="form-content1" placeholder="Username" disabled />
              <hr class="mt-0" />
            </div>
            <div class="mb-3">
              <label for="" class="form-label">No Hp</label>
              <input type="text" class="form-content" placeholder="08xx-xxxx-xxxx" />
              <hr class="mt-0" />
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Tanggal Lahir</label>
              <input type="date" class="form-content" placeholder="Fullname" />
              <hr class="mt-0" />
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Deskripsi</label>
              <textarea class="form-control" id="" placeholder="Masukkan Deskripsi" required></textarea>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
            <label for="" class="form-label">Email</label>
            <input type="text" class="form-content" placeholder="email@gmail.com" />
            <hr class="mt-0" />
            <label for="" class="form-label">Password</label>
            <input type="text" class="form-content1" placeholder="************" disabled />
            <hr class="mt-0" />
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <p>Foto Profile</p>
            <label for="fotoProfile"><img src="img/Photo.svg" style="width: 250px; height: 250px" /><input type="file" class="hidden" /></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="dua">
  <div class="container"></div>
</div>
